/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/
*.sublime-project
*.sublime-workspace
.env.*.local
docker-compose.override.yml

# Laravel specific
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
composer.lock
package-lock.json

# OS specific
Thumbs.db
